<?xml version="1.0" encoding="UTF-8"?>
<extension>
    <information>
        <name>Kindle SYSWATCH</name>
        <version>0.1.0</version>
        <author>Kindle SYSWATCH</author>
        <id>kindle-monitor</id>
    </information>
    <menus>
        <menu type="json" dynamic="true">menu.json</menu>
    </menus>
</extension>
